<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Major League Hacking</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Foobar Hall 1.23</span></li>
    <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+1 234 567 890</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:judekhay@gmail.com">username@domain.com</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://jude-san.github.io">https://jude-san.github.io</a></li>
  </ul>
</div>
